<div class="home__hero">
	<div class="home__hero--img-outer">
		<div class="home__hero--img-inner" role="img" aria-label="s/v Cat Play Catamaran">
		<div class='home__main--text'>
			<span class='home__main--text-span'>A ship in harbour is</span>
			<br>
			<span class='home__main--text-span'>safe - but that is</span>
			<br>
			<span class='home__main--text-span'>not what ships</span>
			<br>
			<span class='home__main--text-span'>are built</span>
			<br>
			<span class='home__main--text-span'>for.</span>
		</div>
	</div>
</div>
<div class="row">	
	<div class="col-xs-6 col-sm-3">
		<div class="link-plate">
	      	<%= link_to search_journals_path, class: 'center-block link-plate__anchor' do %>
				<%= image_tag 'link_journal_400x400.png', alt: 'Journal', class: "center-block"  %>
				<h3 class: "link-plate__h3">Journal</h3>
 			<% end %>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3">
		<div class="link-plate">
	      	<%= link_to technical_path, class: 'center-block link-plate__anchor' do %>
				<%= image_tag 'link_technical_400x400.png', alt: 'Technical', class: "center-block"  %>
				<h3 class: "link-plate__h3">Technical</h3>
 			<% end %>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3">
		<div class="link-plate">
	      	<%= link_to crew_path, class: 'center-block link-plate__anchor' do %>
				<%= image_tag 'link_crew_400x400.png', alt: 'Crew', class: "center-block"  %>
				<h3 class: "link-plate__h3">Crew</h3>
  			<% end %>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3">
		<div class="link-plate">
	      	<%= link_to gallery_path, class: 'center-block link-plate__anchor' do %>
				<%= image_tag 'link_gallery_400x400.png', alt: 'Gallery', class: "center-block"  %>
				<h3 class: "link-plate__h3">Gallery</h3>
  			<% end %>
		</div>
	</div>
</div>	
