<% provide(:title, "Edit Sections") %>
<h1 class="text-center">edit sections</h1>
<div class="row text-center">
	<%= will_paginate %>
</div>
<div class="row">
	<ul class=admin-list>
		<% @sections.each do |section| %>
			<li>
				<div class="col-md-7 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-12">
					<%= section.name %>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 section-buttons">
					<%= link_to "Delete", section, method: :delete, class: "btn btn-default form-button delete-button" %>
					<%= link_to "Update", edit_section_path(:id => section.id), class: "btn btn-default form-button delete-button" %>
				</div>
			</li>
			<div class="">
				<div class="tapered-line section-tapered-line"></div>
			</div>
		<% end %>
	</ul>
</div>
<div class="row text-center">
	<%= will_paginate %>
</div>
