<% provide(:title, "Boat Gallery") %>
<div class="container-fluid">
	<h1 class="text-center page-title">boat</h1>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10 text-center gallery-text">
			<span class="text-center">Boat tour. A comprehensive look at Cat Play in and out of the water.</span>
		</div>
	</div>
	<div class="gallery">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_01_448x640.jpg'), :'data-title' => "Shout out to our first boat; Red October", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_01_140x200.jpg', :alt => "Shout out to our first boat; Red October", :class => "img-responsive img-rounded gallery-tall" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_02_640x480.jpg'), :'data-title' => "Our first sighting of Cat Play", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_02_200x150.jpg', :alt => "Our first sighting of Cat Play", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_03_640x480.jpg'), :'data-title' => "Haul-out for survey", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_03_200x150.jpg', :alt => "Haul-out for survey", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_04_640x480.jpg'), :'data-title' => "Surveyor checking the hull for voids", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_04_200x150.jpg', :alt => "Surveyor checking the hull for voids", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_05_640x480.jpg'), :'data-title' => "Starboard saildrive and rudder", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_05_200x150.jpg', :alt => "Starboard saildrive and rudder", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_06_640x480.jpg'), :'data-title' => "Bow bulbs - good for getting through the water", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_06_200x150.jpg', :alt => "Bow bulbs - good for getting through the water", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_07_640x480.jpg'), :'data-title' => "Aft sugarscoop stairs", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_07_200x150.jpg', :alt => "Aft sugarscoop stairs", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_08_640x480.jpg'), :'data-title' => "Hope Harbour - renovations complete and ready to cruise", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_08_200x150.jpg', :alt => "Hope Harbour - renovations complete and ready to cruise", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_09_640x480.jpg'), :'data-title' => "Netting to keep the cats on board", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_09_200x150.jpg', :alt => "Netting to keep the cats on board", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_10_480x640.jpg'), :'data-title' => "The dink", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_10_150x200.jpg', :alt => "The dink", :class => "img-responsive img-rounded gallery-tall" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_11_480x640.jpg'), :'data-title' => "The helm", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_11_150x200.jpg', :alt => "The helm", :class => "img-responsive img-rounded gallery-tall" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_12_640x480.jpg'), :'data-title' => "Engine control panel", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_12_200x150.jpg', :alt => "Engine control panel", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_13_480x640.jpg'), :'data-title' => "Side deck", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_13_150x200.jpg', :alt => "Side deck", :class => "img-responsive img-rounded gallery-tall" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_14_640x480.jpg'), :'data-title' => "Rainbow", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_14_200x150.jpg', :alt => "Rainbow", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_15_480x640.jpg'), :'data-title' => "View from my bed", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_15_150x200.jpg', :alt => "View from my bed", :class => "img-responsive img-rounded gallery-tall" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-16 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_16_480x640.jpg'), :'data-title' => "Upwind on the foresail", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_16_150x200.jpg', :alt => "Upwind on the foresail", :class => "img-responsive img-rounded gallery-tall" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-16 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_17_480x640.jpg'), :'data-title' => "Under spinnaker", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_17_150x200.jpg', :alt => "Under spinnaker", :class => "img-responsive img-rounded gallery-tall" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_18_640x480.jpg'), :'data-title' => "Coffs Harbour berth - dink up on davits", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_18_200x150.jpg', :alt => "Coffs Harbour berth - dink up on davits", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_19_640x480.jpg'), :'data-title' => "Bird spikes on the spreaders", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_19_200x150.jpg', :alt => "Bird spikes on the spreaders", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-16 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_20_480x640.jpg'), :'data-title' => "Masthead cluster", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_20_150x200.jpg', :alt => "Masthead cluster", :class => "img-responsive img-rounded gallery-tall" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-16 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_21_480x640.jpg'), :'data-title' => "Aerial shot - including Gary", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_21_150x200.jpg', :alt => "Aerial shot - including Gary", :class => "img-responsive img-rounded gallery-tall" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_22_640x480.jpg'), :'data-title' => "With Sea Change at Jumpinpin", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_22_200x150.jpg', :alt => "With Sea Change at Jumpinpin", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_23_640x480.jpg'), :'data-title' => "Anchored out at GKI", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_23_200x150.jpg', :alt => "Anchored out at GKI", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_24_640x480.jpg'), :'data-title' => "L-R; Sea Change, Cat Play, and Anum Cara", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_24_200x150.jpg', :alt => "L-R; Sea Change, Cat Play, and Anum Cara", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-16 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_25_480x640.jpg'), :'data-title' => "Sunset", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_25_150x200.jpg', :alt => "Sunset", :class => "img-responsive img-rounded gallery-tall" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_26_640x480.jpg'), :'data-title' => "Keeping clear of the humpbacks", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_26_200x150.jpg', :alt => "Keeping clear of the humpbacks", :class => "img-responsive img-rounded gallery-wide" %>
	  			<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-16 gallery-cell text-center">
		      	<%= link_to image_url('gallery/boat/boat_gallery_27_480x640.jpg'), :'data-title' => "Moonrise over the anchorage", :'data-lightbox' => "Boat Gallery", :class => '' do %>
					<%= image_tag 'gallery/boat/boat_gallery_27_150x200.jpg', :alt => "Moonrise over the anchorage", :class => "img-responsive img-rounded gallery-tall" %>
	  			<% end %>
			</div>
		</div>
	</div>
</div>
