<% provide(:title, "Crew Gallery") %>
<div class="container-fluid">
	<h1 class="text-center page-title">crew</h1>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10 text-center gallery-text">
			<span class="text-center">Photos of us having a great time. Sorry.</span>
		</div>
	</div>
	<div class="gallery">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_01_480x640.jpg'), :'data-title' => "Night before the off", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_01_150x200.jpg', :alt => "Night before the off", :class => "img-responsive img-rounded gallery-tall" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_02_480x640.jpg'), :'data-title' => "Fraser Island", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_02_150x200.jpg', :alt => "Fraser Island", :class => "img-responsive img-rounded gallery-tall" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_03_480x640.jpg'), :'data-title' => "Helm", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_03_150x200.jpg', :alt => "Helm", :class => "img-responsive img-rounded gallery-tall" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_04_640x480.jpg'), :'data-title' => "Cockpit under way", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_04_200x150.jpg', :alt => "Cockpit under way", :class => "img-responsive img-rounded gallery-wide" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_05_640x480.jpg'), :'data-title' => "The best solder joints are made while making a funny face", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_05_200x150.jpg', :alt => "The best solder joints are made while making a funny face", :class => "img-responsive img-rounded gallery-wide" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_06_480x640.jpg'), :'data-title' => "Galley slave doing her stuff", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_06_150x200.jpg', :alt => "Galley slave doing her stuff", :class => "img-responsive img-rounded gallery-tall" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_07_640x480.jpg'), :'data-title' => "The best crocs are the small ones", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_07_200x150.jpg', :alt => "The best crocs are the small ones", :class => "img-responsive img-rounded gallery-wide" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_08_480x640.jpg'), :'data-title' => "Got me", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_08_150x200.jpg', :alt => "Got me", :class => "img-responsive img-rounded gallery-tall" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_09_640x640.jpg'), :'data-title' => "Sunset at Horseshoe Bay", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_09_200x200.jpg', :alt => "Sunset at Horseshoe Bay", :class => "img-responsive img-rounded gallery-tall" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_10_480x640.jpg'), :'data-title' => "Horseshoe Bay", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_10_150x200.jpg', :alt => "Horseshoe Bay", :class => "img-responsive img-rounded gallery-tall" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_11_480x640.jpg'), :'data-title' => "Whitsunday Peak - a long walk", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_11_150x200.jpg', :alt => "Whitsunday Peak - a long walk", :class => "img-responsive img-rounded gallery-tall" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_12_640x480.jpg'), :'data-title' => "Mexican on Magnetic Island", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_12_200x150.jpg', :alt => "Mexican on Magnetic Island", :class => "img-responsive img-rounded gallery-wide" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_13_480x640.jpg'), :'data-title' => "Kim in swimming mode", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_13_150x200.jpg', :alt => "Kim in swimming mode", :class => "img-responsive img-rounded gallery-tall" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_14_480x640.jpg'), :'data-title' => "Feeding the rock wallabies", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_14_150x200.jpg', :alt => "Feeding the rock wallabies", :class => "img-responsive img-rounded gallery-tall" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_15_480x640.jpg'), :'data-title' => "The aquarium at Rockhampton", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_15_150x200.jpg', :alt => "The aquarium at Rockhampton", :class => "img-responsive img-rounded gallery-tall" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_16_640x480.jpg'), :'data-title' => "Horseshoe Bay beach", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_16_200x150.jpg', :alt => "Horseshoe Bay beach", :class => "img-responsive img-rounded gallery-wide" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_17_640x480.jpg'), :'data-title' => "Gladstone", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_17_200x150.jpg', :alt => "Gladstone", :class => "img-responsive img-rounded gallery-wide" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_18_640x480.jpg'), :'data-title' => "Long Island, Whitsundays", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_18_200x150.jpg', :alt => "Long Island, Whitsundays", :class => "img-responsive img-rounded gallery-wide" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_19_640x480.jpg'), :'data-title' => "The autohelm is doing its thing", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_19_200x150.jpg', :alt => "The autohelm is doing its thing", :class => "img-responsive img-rounded gallery-wide" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_20_480x640.jpg'), :'data-title' => "Long Beach, GKI", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_20_150x200.jpg', :alt => "Long Beach, GKI", :class => "img-responsive img-rounded gallery-tall" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_21_480x640.jpg'), :'data-title' => "Things you can't unsee", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_21_150x200.jpg', :alt => "Things you can't unsee", :class => "img-responsive img-rounded gallery-tall" %>
				<% end %>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-cell text-center">
				<%= link_to image_url('gallery/crew/crew_gallery_22_640x480.jpg'), :'data-title' => "Cheating - this is Red October's aft (but I like the pic)", :'data-lightbox' => "Crew Gallery", :class => '' do %>
					<%= image_tag 'gallery/crew/crew_gallery_22_200x150.jpg', :alt => "Cheating - this is Red October's aft (but I like the pic)", :class => "img-responsive img-rounded gallery-wide" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
