<% provide(:title, "Edit Journal Entries") %>
<h1 class="text-center">edit journal entries</h1>
<div class="row text-center">
	<%= will_paginate %>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<ul class=admin-list>
			<% @journal_array.each do |journal| %>
				<li>
					<div class="col-md-11 col-xs-12 journal-field">
						<%= journal[:title] %>
					</div>
					<div class="col-md-11 col-xs-12 journal-field">
						<%= journal[:posted_date].strftime("%d-%b-%Y") %>
					</div>
					<div class="col-md-11 col-xs-12 journal-field journal-url">
						<%= journal[:url] %>
					</div>
					<div class="col-md-11 col-xs-12 journal-field journal-url">
						<%= journal[:tags] %>
					</div>
					<div class="col-md-11 col-xs-12 text-right journal-button">
						<%= link_to "Update", edit_journal_path(:id => journal[:id]), class: "btn btn-default form-button delete-button" %>
						<%= link_to "Delete", journal_path(:id => journal[:id]), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default form-button delete-button" %>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</div>
<div class="row text-center">
	<%= will_paginate %>
</div>
